#container {
    display: flex;
    padding: 30px;
    background-color: #fbdce1;
    color:white;
}

.cursor {
    display: none;
}

#tech {
    /* width: auto; */
    margin-right: 20px;
    border-radius: 30px;
    height: auto;
    max-width: 40%;
}

body {
    background-color: #fbdce1;
}